// Place all the styles related to the tuis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #00aced;
  font-size:200%;
  font-weight:bold;
}

header a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.header{
    color:#fff;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.btn-flat {
  display: inline-block;
  width:200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #67c5ff;
  font-size: 110%;
  font-weight: bold;
  border: double 4px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat:hover {
  background: #fffbef;
}

.tubuyaku{
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  color: #00aced;
  padding: 10px;

}

.container{
  background-color:#fffbef;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}
.tui_title {
  text-align: center;
}

.dousiteru {
  color: #00aced;
  text-align: center;
}

.ichiran {
  text-align: center;
}

.osirase {
  text-align: center;
  font-size: 150%;
  color: red;
}

.error_msg{
  text-align: center;
  list-style: none;
}

table {
  width: 100%;
}

table td{
  padding: 30px;
  border-bottom: solid 1px #00aced;
}

input[type="text"] {
        width: 300px;
        height: 100px;
    }

body,
#wrap {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

footer {
      margin-top: auto;
      background-color: #00aced;
      color: #fff;
      text-align: center;
      padding: 30px 0;
    }
